# file managers and editors
.DS_Store
.vscode

# modules and build artifacts
build
dist
node_modules

# npm/pnpm logs
.pnpm-debug.log
npm-debug.log*

# test coverages
coverage
.nyc_output

# env files
.envrc.*
!.envrc.example
