export CS_AUTH_STRATEGY=stored-access-token
export CS_SERVICE_FQDN=
# export CS_CLIENT_ID=
# export CS_SECRET=
export CS_IDP_HOST=cipherstash-dev.au.auth0.com
export CS_FEDERATED_IDENTITY_ID=
export AWS_DEFAULT_REGION=ap-southeast-2
export CS_DEV_CMK=
export CS_DEBUG=yes
export NODE_EXTRA_CA_CERTS="$(mkcert -CAROOT)/rootCA.pem"
# export GRPC_TRACE=call_stream
# export GRPC_VERBOSITY=DEBUG

