export CS_IDP_HOST=cipherstash-dev.au.auth0.com
export CS_CLIENT_ID=
export CS_SECRET=
export CS_FEDERATED_IDENTITY_ID=
export AWS_DEFAULT_REGION=ap-southeast-2
export CS_DEV_CMK=arn:aws:kms:ap-southeast-2:377140853070:key/80c0f67d-e02a-4b59-a314-80a07ef0d4a2
export CS_SERVICE_FQDN=<service-id>.<subdomain>
